__pycache__/
*.py[cod]
*$py.class

.env

venv/

instance/

*.db
*.sqlite3

*.log

.coverage
htmlcov/
.cache

.ipynb_checkpoints

.DS_Store
Thumbs.db

.vscode/

.idea/

*.bak
*.swp
*~

*.so
